projetMonitoring-ejb/src/conf/wsdl/172.16.4.2_8088/WSClientMonitoring.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.clientmonitoring/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.clientmonitoring/" name="WSClientMonitoringService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://172.16.4.2:8088/?xsd=1"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://ws.clientmonitoring/" schemaLocation="http://172.16.4.2:8088/?xsd=2"></xsd:import>
</xsd:schema>
</types>
<message name="demarerLeScheduler">
<part name="parameters" element="tns:demarerLeScheduler"></part>
</message>
<message name="demarerLeSchedulerResponse">
<part name="parameters" element="tns:demarerLeSchedulerResponse"></part>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"></part>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"></part>
</message>
<message name="demarerMetAJourOUStopperTache">
<part name="parameters" element="tns:demarerMetAJourOUStopperTache"></part>
</message>
<message name="demarerMetAJourOUStopperTacheResponse">
<part name="parameters" element="tns:demarerMetAJourOUStopperTacheResponse"></part>
</message>
<message name="arreterLeScheduler">
<part name="parameters" element="tns:arreterLeScheduler"></part>
</message>
<message name="arreterLeSchedulerResponse">
<part name="parameters" element="tns:arreterLeSchedulerResponse"></part>
</message>
<portType name="WSClientMonitoring">
<operation name="demarerLeScheduler">
<input wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/demarerLeSchedulerRequest" message="tns:demarerLeScheduler"></input>
<output wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/demarerLeSchedulerResponse" message="tns:demarerLeSchedulerResponse"></output>
</operation>
<operation name="hello">
<input wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/helloRequest" message="tns:hello"></input>
<output wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/helloResponse" message="tns:helloResponse"></output>
</operation>
<operation name="demarerMetAJourOUStopperTache">
<input wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/demarerMetAJourOUStopperTacheRequest" message="tns:demarerMetAJourOUStopperTache"></input>
<output wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/demarerMetAJourOUStopperTacheResponse" message="tns:demarerMetAJourOUStopperTacheResponse"></output>
</operation>
<operation name="arreterLeScheduler">
<input wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/arreterLeSchedulerRequest" message="tns:arreterLeScheduler"></input>
<output wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/arreterLeSchedulerResponse" message="tns:arreterLeSchedulerResponse"></output>
</operation>
</portType>
<binding name="WSClientMonitoringPortBinding" type="tns:WSClientMonitoring">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="demarerLeScheduler">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="demarerMetAJourOUStopperTache">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="arreterLeScheduler">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="WSClientMonitoringService">
<port name="WSClientMonitoringPort" binding="tns:WSClientMonitoringPortBinding">
<soap:address location="http://172.16.4.2:8088/"></soap:address>
</port>
</service>
</definitions>