projetMonitoring-ejb/src/conf/wsdl/192.168.100.182_9039/WSClientMonitoring.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.clientmonitoring/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.clientmonitoring/" name="WSClientMonitoringService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.clientmonitoring/" schemaLocation="http://192.168.100.182:9039/?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="redemarerTachePrincipaleEtSousTache">
<part name="parameters" element="tns:redemarerTachePrincipaleEtSousTache"></part>
</message>
<message name="redemarerTachePrincipaleEtSousTacheResponse">
<part name="parameters" element="tns:redemarerTachePrincipaleEtSousTacheResponse"></part>
</message>
<message name="demarerMetAJourOUStopperTache">
<part name="parameters" element="tns:demarerMetAJourOUStopperTache"></part>
</message>
<message name="demarerMetAJourOUStopperTacheResponse">
<part name="parameters" element="tns:demarerMetAJourOUStopperTacheResponse"></part>
</message>
<message name="jobExiste">
<part name="parameters" element="tns:jobExiste"></part>
</message>
<message name="jobExisteResponse">
<part name="parameters" element="tns:jobExisteResponse"></part>
</message>
<message name="executeJob">
<part name="parameters" element="tns:executeJob"></part>
</message>
<message name="executeJobResponse">
<part name="parameters" element="tns:executeJobResponse"></part>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"></part>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"></part>
</message>
<message name="TestTache">
<part name="parameters" element="tns:TestTache"></part>
</message>
<message name="TestTacheResponse">
<part name="parameters" element="tns:TestTacheResponse"></part>
</message>
<portType name="WSClientMonitoring">
<operation name="redemarerTachePrincipaleEtSousTache">
<input wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/redemarerTachePrincipaleEtSousTacheRequest" message="tns:redemarerTachePrincipaleEtSousTache"></input>
<output wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/redemarerTachePrincipaleEtSousTacheResponse" message="tns:redemarerTachePrincipaleEtSousTacheResponse"></output>
</operation>
<operation name="demarerMetAJourOUStopperTache">
<input wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/demarerMetAJourOUStopperTacheRequest" message="tns:demarerMetAJourOUStopperTache"></input>
<output wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/demarerMetAJourOUStopperTacheResponse" message="tns:demarerMetAJourOUStopperTacheResponse"></output>
</operation>
<operation name="jobExiste">
<input wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/jobExisteRequest" message="tns:jobExiste"></input>
<output wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/jobExisteResponse" message="tns:jobExisteResponse"></output>
</operation>
<operation name="executeJob">
<input wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/executeJobRequest" message="tns:executeJob"></input>
<output wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/executeJobResponse" message="tns:executeJobResponse"></output>
</operation>
<operation name="hello">
<input wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/helloRequest" message="tns:hello"></input>
<output wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/helloResponse" message="tns:helloResponse"></output>
</operation>
<operation name="TestTache">
<input wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/TestTacheRequest" message="tns:TestTache"></input>
<output wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/TestTacheResponse" message="tns:TestTacheResponse"></output>
</operation>
</portType>
<binding name="WSClientMonitoringPortBinding" type="tns:WSClientMonitoring">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="redemarerTachePrincipaleEtSousTache">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="demarerMetAJourOUStopperTache">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="jobExiste">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="executeJob">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="TestTache">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="WSClientMonitoringService">
<port name="WSClientMonitoringPort" binding="tns:WSClientMonitoringPortBinding">
<soap:address location="http://192.168.100.182:9039/"></soap:address>
</port>
</service>
</definitions>