projetMonitoring-ejb/src/conf/xml-resources/web-service-references/WSClientMonitoring/wsdl/192.168.100.182_9039/.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://ws.clientmonitoring/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.clientmonitoring/">

<xs:element name="TestTache" type="tns:TestTache"></xs:element>

<xs:element name="TestTacheResponse" type="tns:TestTacheResponse"></xs:element>

<xs:element name="demarerMetAJourOUStopperTache" type="tns:demarerMetAJourOUStopperTache"></xs:element>

<xs:element name="demarerMetAJourOUStopperTacheResponse" type="tns:demarerMetAJourOUStopperTacheResponse"></xs:element>

<xs:element name="executeJob" type="tns:executeJob"></xs:element>

<xs:element name="executeJobResponse" type="tns:executeJobResponse"></xs:element>

<xs:element name="hello" type="tns:hello"></xs:element>

<xs:element name="helloResponse" type="tns:helloResponse"></xs:element>

<xs:element name="jobExiste" type="tns:jobExiste"></xs:element>

<xs:element name="jobExisteResponse" type="tns:jobExisteResponse"></xs:element>

<xs:element name="redemarerTachePrincipaleEtSousTache" type="tns:redemarerTachePrincipaleEtSousTache"></xs:element>

<xs:element name="redemarerTachePrincipaleEtSousTacheResponse" type="tns:redemarerTachePrincipaleEtSousTacheResponse"></xs:element>

<xs:complexType name="executeJob">
<xs:sequence>
<xs:element name="idTache" type="xs:int"></xs:element>
<xs:element name="idMachine" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="executeJobResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="jobExiste">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="group" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="jobExisteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TestTache">
<xs:sequence>
<xs:element name="idtache" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TestTacheResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="demarerMetAJourOUStopperTache">
<xs:sequence>
<xs:element name="idtache" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="demarerMetAJourOUStopperTacheResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="redemarerTachePrincipaleEtSousTache">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="redemarerTachePrincipaleEtSousTacheResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>