projetMonitoring-ejb/src/conf/xml-resources/web-service-references/WSClientMonitoring/wsdl/172.16.4.2_9039/.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://ws.clientmonitoring/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.clientmonitoring/">

<xs:element name="dateDernierFichier" type="tns:dateDernierFichier"></xs:element>

<xs:element name="dateDernierFichierResponse" type="tns:dateDernierFichierResponse"></xs:element>

<xs:element name="demarerMetAJourOUStopperTache" type="tns:demarerMetAJourOUStopperTache"></xs:element>

<xs:element name="demarerMetAJourOUStopperTacheResponse" type="tns:demarerMetAJourOUStopperTacheResponse"></xs:element>

<xs:element name="demarerService" type="tns:demarerService"></xs:element>

<xs:element name="demarerServiceResponse" type="tns:demarerServiceResponse"></xs:element>

<xs:element name="executeCommand" type="tns:executeCommand"></xs:element>

<xs:element name="executeCommandResponse" type="tns:executeCommandResponse"></xs:element>

<xs:element name="hello" type="tns:hello"></xs:element>

<xs:element name="helloResponse" type="tns:helloResponse"></xs:element>

<xs:element name="jobExiste" type="tns:jobExiste"></xs:element>

<xs:element name="jobExisteResponse" type="tns:jobExisteResponse"></xs:element>

<xs:element name="pinger" type="tns:pinger"></xs:element>

<xs:element name="pingerResponse" type="tns:pingerResponse"></xs:element>

<xs:element name="pourcentageOccupationDD" type="tns:pourcentageOccupationDD"></xs:element>

<xs:element name="pourcentageOccupationDDResponse" type="tns:pourcentageOccupationDDResponse"></xs:element>

<xs:element name="processusWindowsEnFonctionnement" type="tns:processusWindowsEnFonctionnement"></xs:element>

<xs:element name="processusWindowsEnFonctionnementResponse" type="tns:processusWindowsEnFonctionnementResponse"></xs:element>

<xs:element name="redemarerTachePrincipaleEtSousTache" type="tns:redemarerTachePrincipaleEtSousTache"></xs:element>

<xs:element name="redemarerTachePrincipaleEtSousTacheResponse" type="tns:redemarerTachePrincipaleEtSousTacheResponse"></xs:element>

<xs:element name="tailleFichier" type="tns:tailleFichier"></xs:element>

<xs:element name="tailleFichierResponse" type="tns:tailleFichierResponse"></xs:element>

<xs:element name="telnet" type="tns:telnet"></xs:element>

<xs:element name="telnetResponse" type="tns:telnetResponse"></xs:element>

<xs:element name="verifiService" type="tns:verifiService"></xs:element>

<xs:element name="verifiServiceResponse" type="tns:verifiServiceResponse"></xs:element>

<xs:complexType name="processusWindowsEnFonctionnement">
<xs:sequence>
<xs:element name="nomProcessus" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="processusWindowsEnFonctionnementResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="executeCommand">
<xs:sequence>
<xs:element name="commande" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="executeCommandResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="jobExiste">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="group" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="jobExisteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dateDernierFichier">
<xs:sequence>
<xs:element name="repertoire" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dateDernierFichierResponse">
<xs:sequence>
<xs:element name="return" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pourcentageOccupationDD">
<xs:sequence>
<xs:element name="partition" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pourcentageOccupationDDResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pinger">
<xs:sequence>
<xs:element name="adresse" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nbTentative" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pingerResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verifiService">
<xs:sequence>
<xs:element name="nomService" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verifiServiceResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="demarerService">
<xs:sequence>
<xs:element name="nomService" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="demarerServiceResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="telnet">
<xs:sequence>
<xs:element name="adresseEtPort" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="telnetResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tailleFichier">
<xs:sequence>
<xs:element name="cheminFichier" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tailleFichierResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="demarerMetAJourOUStopperTache">
<xs:sequence>
<xs:element name="idtache" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="demarerMetAJourOUStopperTacheResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="redemarerTachePrincipaleEtSousTache">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="redemarerTachePrincipaleEtSousTacheResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>