projetMonitoring-ejb/src/conf/xml-resources/web-service-references/WSClientMonitoring/wsdl/172.16.4.2_9039/WSClientMonitoring.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.clientmonitoring/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.clientmonitoring/" name="WSClientMonitoringService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.clientmonitoring/" schemaLocation="http://172.16.4.2:9039/?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="redemarerTachePrincipaleEtSousTache">
<part name="parameters" element="tns:redemarerTachePrincipaleEtSousTache"></part>
</message>
<message name="redemarerTachePrincipaleEtSousTacheResponse">
<part name="parameters" element="tns:redemarerTachePrincipaleEtSousTacheResponse"></part>
</message>
<message name="demarerMetAJourOUStopperTache">
<part name="parameters" element="tns:demarerMetAJourOUStopperTache"></part>
</message>
<message name="demarerMetAJourOUStopperTacheResponse">
<part name="parameters" element="tns:demarerMetAJourOUStopperTacheResponse"></part>
</message>
<message name="verifiService">
<part name="parameters" element="tns:verifiService"></part>
</message>
<message name="verifiServiceResponse">
<part name="parameters" element="tns:verifiServiceResponse"></part>
</message>
<message name="demarerService">
<part name="parameters" element="tns:demarerService"></part>
</message>
<message name="demarerServiceResponse">
<part name="parameters" element="tns:demarerServiceResponse"></part>
</message>
<message name="pourcentageOccupationDD">
<part name="parameters" element="tns:pourcentageOccupationDD"></part>
</message>
<message name="pourcentageOccupationDDResponse">
<part name="parameters" element="tns:pourcentageOccupationDDResponse"></part>
</message>
<message name="telnet">
<part name="parameters" element="tns:telnet"></part>
</message>
<message name="telnetResponse">
<part name="parameters" element="tns:telnetResponse"></part>
</message>
<message name="pinger">
<part name="parameters" element="tns:pinger"></part>
</message>
<message name="pingerResponse">
<part name="parameters" element="tns:pingerResponse"></part>
</message>
<message name="dateDernierFichier">
<part name="parameters" element="tns:dateDernierFichier"></part>
</message>
<message name="dateDernierFichierResponse">
<part name="parameters" element="tns:dateDernierFichierResponse"></part>
</message>
<message name="executeCommand">
<part name="parameters" element="tns:executeCommand"></part>
</message>
<message name="executeCommandResponse">
<part name="parameters" element="tns:executeCommandResponse"></part>
</message>
<message name="tailleFichier">
<part name="parameters" element="tns:tailleFichier"></part>
</message>
<message name="tailleFichierResponse">
<part name="parameters" element="tns:tailleFichierResponse"></part>
</message>
<message name="jobExiste">
<part name="parameters" element="tns:jobExiste"></part>
</message>
<message name="jobExisteResponse">
<part name="parameters" element="tns:jobExisteResponse"></part>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"></part>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"></part>
</message>
<message name="processusWindowsEnFonctionnement">
<part name="parameters" element="tns:processusWindowsEnFonctionnement"></part>
</message>
<message name="processusWindowsEnFonctionnementResponse">
<part name="parameters" element="tns:processusWindowsEnFonctionnementResponse"></part>
</message>
<portType name="WSClientMonitoring">
<operation name="redemarerTachePrincipaleEtSousTache">
<input wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/redemarerTachePrincipaleEtSousTacheRequest" message="tns:redemarerTachePrincipaleEtSousTache"></input>
<output wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/redemarerTachePrincipaleEtSousTacheResponse" message="tns:redemarerTachePrincipaleEtSousTacheResponse"></output>
</operation>
<operation name="demarerMetAJourOUStopperTache">
<input wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/demarerMetAJourOUStopperTacheRequest" message="tns:demarerMetAJourOUStopperTache"></input>
<output wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/demarerMetAJourOUStopperTacheResponse" message="tns:demarerMetAJourOUStopperTacheResponse"></output>
</operation>
<operation name="verifiService">
<input wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/verifiServiceRequest" message="tns:verifiService"></input>
<output wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/verifiServiceResponse" message="tns:verifiServiceResponse"></output>
</operation>
<operation name="demarerService">
<input wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/demarerServiceRequest" message="tns:demarerService"></input>
<output wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/demarerServiceResponse" message="tns:demarerServiceResponse"></output>
</operation>
<operation name="pourcentageOccupationDD">
<input wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/pourcentageOccupationDDRequest" message="tns:pourcentageOccupationDD"></input>
<output wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/pourcentageOccupationDDResponse" message="tns:pourcentageOccupationDDResponse"></output>
</operation>
<operation name="telnet">
<input wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/telnetRequest" message="tns:telnet"></input>
<output wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/telnetResponse" message="tns:telnetResponse"></output>
</operation>
<operation name="pinger">
<input wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/pingerRequest" message="tns:pinger"></input>
<output wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/pingerResponse" message="tns:pingerResponse"></output>
</operation>
<operation name="dateDernierFichier">
<input wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/dateDernierFichierRequest" message="tns:dateDernierFichier"></input>
<output wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/dateDernierFichierResponse" message="tns:dateDernierFichierResponse"></output>
</operation>
<operation name="executeCommand">
<input wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/executeCommandRequest" message="tns:executeCommand"></input>
<output wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/executeCommandResponse" message="tns:executeCommandResponse"></output>
</operation>
<operation name="tailleFichier">
<input wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/tailleFichierRequest" message="tns:tailleFichier"></input>
<output wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/tailleFichierResponse" message="tns:tailleFichierResponse"></output>
</operation>
<operation name="jobExiste">
<input wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/jobExisteRequest" message="tns:jobExiste"></input>
<output wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/jobExisteResponse" message="tns:jobExisteResponse"></output>
</operation>
<operation name="hello">
<input wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/helloRequest" message="tns:hello"></input>
<output wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/helloResponse" message="tns:helloResponse"></output>
</operation>
<operation name="processusWindowsEnFonctionnement">
<input wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/processusWindowsEnFonctionnementRequest" message="tns:processusWindowsEnFonctionnement"></input>
<output wsam:Action="http://ws.clientmonitoring/WSClientMonitoring/processusWindowsEnFonctionnementResponse" message="tns:processusWindowsEnFonctionnementResponse"></output>
</operation>
</portType>
<binding name="WSClientMonitoringPortBinding" type="tns:WSClientMonitoring">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="redemarerTachePrincipaleEtSousTache">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="demarerMetAJourOUStopperTache">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="verifiService">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="demarerService">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="pourcentageOccupationDD">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="telnet">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="pinger">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="dateDernierFichier">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="executeCommand">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="tailleFichier">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="jobExiste">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="processusWindowsEnFonctionnement">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="WSClientMonitoringService">
<port name="WSClientMonitoringPort" binding="tns:WSClientMonitoringPortBinding">
<soap:address location="http://172.16.4.2:9039/"></soap:address>
</port>
</service>
</definitions>