projetMonitoring-war/src/conf/xml-resources/web-service-references/WSClientMonitoring/wsdl/172.16.4.2_8088/.xsd_2.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://ws.clientmonitoring/" xmlns:ns1="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.clientmonitoring/">

<xs:import namespace="http://ws/" schemaLocation="http://172.16.4.2:8088/?xsd=1"></xs:import>

<xs:element name="arreterLeScheduler" type="tns:arreterLeScheduler"></xs:element>

<xs:element name="arreterLeSchedulerResponse" type="tns:arreterLeSchedulerResponse"></xs:element>

<xs:element name="demarerMetAJourOUStopperTache" type="tns:demarerMetAJourOUStopperTache"></xs:element>

<xs:element name="demarerMetAJourOUStopperTacheResponse" type="tns:demarerMetAJourOUStopperTacheResponse"></xs:element>

<xs:element name="hello" type="tns:hello"></xs:element>

<xs:element name="helloResponse" type="tns:helloResponse"></xs:element>

<xs:complexType name="arreterLeScheduler">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="arreterLeSchedulerResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="demarerMetAJourOUStopperTache">
<xs:sequence>
<xs:element name="arg0" type="ns1:tache" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="demarerMetAJourOUStopperTacheResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>