projetMonitoring-ejb/src/conf/xml-resources/web-service-references/ServiceSMS/wsdl/41.204.94.29_8282/Managesms-war/ServiceSMS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.managesms.nexxys.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.managesms.nexxys.com/" name="ServiceSMS">
<types>
<xsd:schema>
<xsd:import namespace="http://service.managesms.nexxys.com/" schemaLocation="http://41.204.94.29:8282/Managesms-war/ServiceSMS?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://41.204.94.29:8282/Managesms-war/ServiceSMS?xsd=2"/>
</xsd:schema>
</types>
<message name="changePassword">
<part name="parameters" element="tns:changePassword"/>
</message>
<message name="changePasswordResponse">
<part name="parameters" element="tns:changePasswordResponse"/>
</message>
<message name="genererPWD">
<part name="parameters" element="tns:genererPWD"/>
</message>
<message name="genererPWDResponse">
<part name="parameters" element="tns:genererPWDResponse"/>
</message>
<message name="crypter">
<part name="parameters" element="tns:crypter"/>
</message>
<message name="crypterResponse">
<part name="parameters" element="tns:crypterResponse"/>
</message>
<message name="envoyerSMS">
<part name="parameters" element="tns:envoyerSMS"/>
</message>
<message name="envoyerSMSResponse">
<part name="parameters" element="tns:envoyerSMSResponse"/>
</message>
<message name="envoyerSMSAFB">
<part name="parameters" element="tns:envoyerSMSAFB"/>
</message>
<message name="envoyerSMSAFBResponse">
<part name="parameters" element="tns:envoyerSMSAFBResponse"/>
</message>
<message name="envoyerSMSNew">
<part name="parameters" element="tns:envoyerSMSNew"/>
</message>
<message name="envoyerSMSNewResponse">
<part name="parameters" element="tns:envoyerSMSNewResponse"/>
</message>
<message name="envoyerUnSMS">
<part name="parameters" element="tns:envoyerUnSMS"/>
</message>
<message name="envoyerUnSMSResponse">
<part name="parameters" element="tns:envoyerUnSMSResponse"/>
</message>
<message name="consulterSolde">
<part name="parameters" element="tns:consulterSolde"/>
</message>
<message name="consulterSoldeResponse">
<part name="parameters" element="tns:consulterSoldeResponse"/>
</message>
<message name="envoyerSMSURL">
<part name="parameters" element="tns:envoyerSMSURL"/>
</message>
<message name="envoyerSMSURLResponse">
<part name="parameters" element="tns:envoyerSMSURLResponse"/>
</message>
<message name="listContactsUser">
<part name="parameters" element="tns:listContactsUser"/>
</message>
<message name="listContactsUserResponse">
<part name="parameters" element="tns:listContactsUserResponse"/>
</message>
<message name="emailValidator">
<part name="parameters" element="tns:emailValidator"/>
</message>
<message name="emailValidatorResponse">
<part name="parameters" element="tns:emailValidatorResponse"/>
</message>
<message name="phoneValidator">
<part name="parameters" element="tns:phoneValidator"/>
</message>
<message name="phoneValidatorResponse">
<part name="parameters" element="tns:phoneValidatorResponse"/>
</message>
<message name="formatTel">
<part name="parameters" element="tns:formatTel"/>
</message>
<message name="formatTelResponse">
<part name="parameters" element="tns:formatTelResponse"/>
</message>
<portType name="ServiceSMS">
<operation name="changePassword">
<input wsam:Action="http://service.managesms.nexxys.com/ServiceSMS/changePasswordRequest" message="tns:changePassword"/>
<output wsam:Action="http://service.managesms.nexxys.com/ServiceSMS/changePasswordResponse" message="tns:changePasswordResponse"/>
</operation>
<operation name="genererPWD">
<input wsam:Action="http://service.managesms.nexxys.com/ServiceSMS/genererPWDRequest" message="tns:genererPWD"/>
<output wsam:Action="http://service.managesms.nexxys.com/ServiceSMS/genererPWDResponse" message="tns:genererPWDResponse"/>
</operation>
<operation name="crypter">
<input wsam:Action="http://service.managesms.nexxys.com/ServiceSMS/crypterRequest" message="tns:crypter"/>
<output wsam:Action="http://service.managesms.nexxys.com/ServiceSMS/crypterResponse" message="tns:crypterResponse"/>
</operation>
<operation name="envoyerSMS">
<input wsam:Action="http://service.managesms.nexxys.com/ServiceSMS/envoyerSMSRequest" message="tns:envoyerSMS"/>
<output wsam:Action="http://service.managesms.nexxys.com/ServiceSMS/envoyerSMSResponse" message="tns:envoyerSMSResponse"/>
</operation>
<operation name="envoyerSMSAFB">
<input wsam:Action="http://service.managesms.nexxys.com/ServiceSMS/envoyerSMSAFBRequest" message="tns:envoyerSMSAFB"/>
<output wsam:Action="http://service.managesms.nexxys.com/ServiceSMS/envoyerSMSAFBResponse" message="tns:envoyerSMSAFBResponse"/>
</operation>
<operation name="envoyerSMSNew">
<input wsam:Action="http://service.managesms.nexxys.com/ServiceSMS/envoyerSMSNewRequest" message="tns:envoyerSMSNew"/>
<output wsam:Action="http://service.managesms.nexxys.com/ServiceSMS/envoyerSMSNewResponse" message="tns:envoyerSMSNewResponse"/>
</operation>
<operation name="envoyerUnSMS">
<input wsam:Action="http://service.managesms.nexxys.com/ServiceSMS/envoyerUnSMSRequest" message="tns:envoyerUnSMS"/>
<output wsam:Action="http://service.managesms.nexxys.com/ServiceSMS/envoyerUnSMSResponse" message="tns:envoyerUnSMSResponse"/>
</operation>
<operation name="consulterSolde">
<input wsam:Action="http://service.managesms.nexxys.com/ServiceSMS/consulterSoldeRequest" message="tns:consulterSolde"/>
<output wsam:Action="http://service.managesms.nexxys.com/ServiceSMS/consulterSoldeResponse" message="tns:consulterSoldeResponse"/>
</operation>
<operation name="envoyerSMSURL">
<input wsam:Action="http://service.managesms.nexxys.com/ServiceSMS/envoyerSMSURLRequest" message="tns:envoyerSMSURL"/>
<output wsam:Action="http://service.managesms.nexxys.com/ServiceSMS/envoyerSMSURLResponse" message="tns:envoyerSMSURLResponse"/>
</operation>
<operation name="listContactsUser">
<input wsam:Action="http://service.managesms.nexxys.com/ServiceSMS/listContactsUserRequest" message="tns:listContactsUser"/>
<output wsam:Action="http://service.managesms.nexxys.com/ServiceSMS/listContactsUserResponse" message="tns:listContactsUserResponse"/>
</operation>
<operation name="emailValidator">
<input wsam:Action="http://service.managesms.nexxys.com/ServiceSMS/emailValidatorRequest" message="tns:emailValidator"/>
<output wsam:Action="http://service.managesms.nexxys.com/ServiceSMS/emailValidatorResponse" message="tns:emailValidatorResponse"/>
</operation>
<operation name="phoneValidator">
<input wsam:Action="http://service.managesms.nexxys.com/ServiceSMS/phoneValidatorRequest" message="tns:phoneValidator"/>
<output wsam:Action="http://service.managesms.nexxys.com/ServiceSMS/phoneValidatorResponse" message="tns:phoneValidatorResponse"/>
</operation>
<operation name="formatTel">
<input wsam:Action="http://service.managesms.nexxys.com/ServiceSMS/formatTelRequest" message="tns:formatTel"/>
<output wsam:Action="http://service.managesms.nexxys.com/ServiceSMS/formatTelResponse" message="tns:formatTelResponse"/>
</operation>
</portType>
<binding name="ServiceSMSPortBinding" type="tns:ServiceSMS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="changePassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="genererPWD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crypter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="envoyerSMS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="envoyerSMSAFB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="envoyerSMSNew">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="envoyerUnSMS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consulterSolde">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="envoyerSMSURL">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listContactsUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="emailValidator">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="phoneValidator">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="formatTel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServiceSMS">
<port name="ServiceSMSPort" binding="tns:ServiceSMSPortBinding">
<soap:address location="http://41.204.94.29:8282/Managesms-war/ServiceSMS"/>
</port>
</service>
</definitions>